<!DOCTYPE html>
<html>

<head>
  <link href="/css/style.css" rel="stylesheet">

  <title>Word Cloud Example</title>
  <style>
    body {
      font-family: "Lucida Grande", "Droid Sans", Arial, Helvetica, sans-serif;
    }


    .bld {
      font-weight: bold;
    }
  </style>
</head>

<body>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="/js/d3.layout.cloud.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="/js/cloud.js"></script>

</body>
<script>
</script>






</html>
